{% extends "admin/base.html" %}

{% block title %}Dashboard{% endblock %}
{% block heading %}Dashboard{% endblock %}
{% block subheading %}WHAuth at a Glance{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ url_for('admin.dashboard') }}">
            <i class="fa fa-dashboard"></i>
            Admin
        </a>
    </li>
    <li class="active">Dashboard</li>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ user_count }}</h3>
                    <p>Total Users</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-stalker"></i>
                </div>
                <a href="{{ url_for('admin.list_users') }}" class="small-box-footer">View All Users <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
{% endblock %}