{% extends "admin/base.html" %}

{% block title %}Users{% endblock %}
{% block heading %}Users{% endblock %}
{% block subheading %}All Users{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ url_for('admin.dashboard') }}">
            <i class="fa fa-dashboard"></i>
            Admin
        </a>
    </li>
    <li class="active">Users</li>
{% endblock %}

{% block extracss %}
    <link href="{{ url_for('static', filename='css/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block extrajs %}
    <script src="{{ url_for('static', filename='js/plugins/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatables/dataTables.bootstrap.js') }}"></script>

    <script>
        $(document).ready(function() {
            $('#users').DataTable();
        });
    </script>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <table id="users" class="display table table-bordered table-striped table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Main Character</th>
                                <th>EMail</th>
                                <th>Active</th>
                                <th>SuperUser</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Main Character</th>
                                <th>EMail</th>
                                <th>Active</th>
                                <th>SuperUser</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            {% for user in all_users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.display_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.active }}</td>
                                    <td>{{ user.superuser }}</td>
                                    <td>
                                        <a class="btn btn-xs btn-primary" href="{{ url_for('admin.view_user', username=user.username) }}">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}