<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | WHAuth</title>
    {% assets "css_all" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
</head>
<body>
<!-- Begin Navbar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('core.home') }}">WHAuth</a>
        </div>

        <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                    {% if current_user.has_role('view-admin') %}
                        <li><a href="{{ url_for('admin.dashboard') }}">Admin</a></li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ current_user.get_display_name() }} <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ url_for('core.profile') }}">Your Profile</a></li>
                            <li><a href="{{ url_for('core.logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li{% if request.path.startswith(url_for('core.login')) %} class="active"{% endif %}><a href="{{ url_for('core.login') }}">Login</a></li>
                    <li{% if request.path.startswith(url_for('core.register')) %} class="active"{% endif %}><a href="{{ url_for('core.register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- End Nav -->

<!-- Notifications -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container">
            {% for category, message in messages %}
                <div class="alert alert-{% if category != "message" %}{{ category }}{% else %}danger{% endif %}">
                    <a class="close" type="button" data-dismiss="alert">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<!-- End Notifications -->

<!-- Main -->
<div class="container">
    {% block main %}
    {% endblock %}
</div>

<!-- Javascript -->
{% assets "js_all" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>