{% extends "admin/base.html" %}

{% block title %}Add Group{% endblock %}
{% block heading %}Add Group{% endblock %}
{% block subheading %}Create a Group{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ url_for('admin.dashboard') }}">
            <i class="fa fa-dashboard"></i>
            Admin
        </a>
    </li>
    <li><a href="{{ url_for('admin.list_groups') }}">Groups</a></li>
    <li class="active">Add</li>
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}"/>
{% endblock %}

{% block extrajs %}
    <script src="{{ url_for('static', filename='js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#description').wysihtml5();
        });
    </script>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <form action="" role="form" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="box-body">
                        <div class="form-group">
                            {{ form.name.label }}
                            {{ form.name(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.description.label }}
                            {{ form.description(class="form-control", rows="5") }}
                        </div>
                        <div class="form-group">
                            {{ form.category.label }}
                            {{ form.category(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.parents.label }}
                            {{ form.parents(size=4, class="form-control") }}
                        </div>
                        <div class="checkbox">
                            <label>
                                {{ form.visible }}
                                {{ form.visible.label }}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                {{ form.open }}
                                {{ form.open.label }}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                {{ form.leavable }}
                                {{ form.leavable.label }}
                            </label>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Add Group</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}